<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <title>Template</title>
</head>

<body>
  <div class="container" style="height: 100%; width: 80%;">

    <div class="row no-margin">

      <div class="col-6 no-margin">
        <div class="row">
          <p class="text-start light-text">Key</p>
        </div>
        <div class="row">
          <p class="text-start text-uppercase text-break fs-1 fw-bolder">Explore the nightlife of your city</p>
          <p class="text-start text-uppercase text-break fs-5 fw-bold">Outdoor & sporting goods</p>
        </div>

      </div>

      <div class="col-6">
        <div class="row">
          <p class="text-end">Price</p>
        </div>
        <div class="row">
          <p class="text-end">0.1</p>
        </div>
      </div>

    </div>

    <div class="row no-margin">

      <div class="col-6 no-margin">

        <div class="row h-25">
          <p><button type="button" class="btn btn-danger w-50 explore-button">EXPLORE MORE</button></p>
          <p class="text-start light-text">We have more special goods for you 🚀</p>
        </div>

        <div class="row h-50">
          <div class="col-6 content-div">
            <p class="text-uppercase fw-light no-margin">More Than</p>
            <p class="text-uppercase fw-bolder fs-1 no-margin">50+</p>
            <p class="text-uppercase fw-light no-margin">adventure products</p>
          </div>
          <div class="col-6 content-div">
            <p class="text-uppercase fw-light no-margin">More Than</p>
            <p class="text-uppercase fw-bolder fs-1 no-margin">75+</p>
            <p class="text-uppercase fw-light no-margin">Outlet in Indonesia</p>
          </div>
        </div>

        <div class="row h-25 no-margin" id="bottom-div">

          <div class="col-6 icon-text-div">
            <img src="/Images/card-send.png">
            <div class="container">
              <p class="text-muted no-margin fw-light fs-6">ACCESSIBILITY</p>
              <p class="text-white fw-medium fs-5 no-margin">0.32</p>
            </div>
          </div>

          <div class="col-6 icon-text-div">
            <img src="/Images/shield-tick.png">
            <div class="container">
              <p class="text-muted no-margin fw-light fs-6">TYPE</p>
              <p class="text-white fw-medium fs-5 no-margin text-uppercase">SOCIAL</p>
            </div>
          </div>

        </div>


      </div>

      <div class="col-6 no-margin">
          <img src="/Images/Component 1.png" style="width: 100%;">
      </div>

    </div>

  </div>

</body>

</html>